# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline=true
trim_trailing_whitespace=true

# Visual Studio Spell checker configs (https://learn.microsoft.com/en-us/visualstudio/ide/text-spell-checker?view=vs-2022#how-to-customize-the-spell-checker)
spelling_exclusion_path  = ./exclusion.dic

# Solution files
[*.{sln,slnx}]
indent_size = 2

# MSBuild project files
[*.{csproj,props,targets}]
indent_size = 2

# Xml config files
[*.{ruleset,config,nuspec,resx,runsettings,DotSettings}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml]
indent_size = 2

# PowerShell files
[*.ps1]
indent_size = 2

# Markdown files
[*.md]
charset = utf-8-bom
trim_trailing_whitespace = false

# C# code style settings
[*.{cs}]

## TODO: Define custom settings
